
/* Styles Header*/

nav{
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: fit-content;

    background-color: #ffffff;
}